*.pyc
testing_script_v1.ipynb
inputs/CT/*
inputs/*
inputs/config.json
.DS_Store
/inputs/config.json
post_processing_script.ipynb
TDT_Output*/
TDT_Output*
testing.ipynb
post_process/
testing*
for_analysis*


debug_synth_lesions_only_CT_0
full_lesions_test_CT_0
5e9_test_CT_0/*
patient_material*
*CT*